<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Create New Thread</title>
    </head>
    <body>
        <h1>Create a New Thread</h1>

        <a href="/forum">Back to Forum</a>

        <hr/>

        <form th:action="@{/forum/new_thread}" th:object="${thread}" method="post">
            <label for="title">Title:</label><br/>
            <input type="text" id="title" th:field="*{title}" required="required"/><br/><br/>

            <label for="author">Author:</label><br/>
            <input type="text" id="author" th:field="*{author}" required="required"/><br/><br/>

            <label for="body">Content:</label><br/>
            <textarea id="body" th:field="*{body}" rows="5" cols="50" required="required"></textarea><br/><br/>

            <button type="submit">Save</button>
        </form>

    </body>
</html>
